big filter=bigstore
unreal/Content/RiverShader/Textures/*.jpg filter=lfs diff=lfs merge=lfs -text
unreal/Content/RiverShader/Textures/Splash_D.uasset filter=lfs diff=lfs merge=lfs -text
unreal/Content/RiverShader/Textures/StretchNoise_G.uasset filter=lfs diff=lfs merge=lfs -text
unreal/Content/RiverShader/Textures/WaterFoam_D.uasset filter=lfs diff=lfs merge=lfs -text
unreal/Content/RiverShader/Textures/WaterFoam2_D.uasset filter=lfs diff=lfs merge=lfs -text
unreal/Content/RiverShader/Textures/WaveWater_N.uasset filter=lfs diff=lfs merge=lfs -text
unreal/Content/RiverShader/Textures/FlowWater_N.uasset filter=lfs diff=lfs merge=lfs -text
unreal/Content/RiverShader/Textures/Mist_D.uasset filter=lfs diff=lfs merge=lfs -text
unreal/Content/RiverShader/Textures/SoftWater_N.uasset filter=lfs diff=lfs merge=lfs -text
unreal/Content/Ocean/Textures/** filter=lfs diff=lfs merge=lfs -text
unreal/Content/Sky/Textures/** filter=lfs diff=lfs merge=lfs -text
unreal/Content/ShipsAndExamples/** filter=lfs diff=lfs merge=lfs -text
unreal\Content\FirstPersonBP\Maps\height\** filter=lfs diff=lfs merge=lfs -text
