.modal .modal-wrap {
	transition: '300ms all';
	transform: translate3d(0, 50px, 0);
}

.modal.slider .modal-wrap {
	transform: translate3d(25%, 0, 0);
}

.modal.active .modal-wrap {
	transform: translate3d(0, 0, 0);
}